Standard: Latest

ColumnLimit: 80
IndentWidth: 2
AccessModifierOffset: -1

AllowAllParametersOfDeclarationOnNextLine: true
AllowShortIfStatementsOnASingleLine: true
AlwaysBreakTemplateDeclarations: true
BinPackArguments: true
BinPackParameters: true
ConstructorInitializerAllOnOneLineOrOnePerLine: false
AlignConsecutiveAssignments: true
AlignTrailingComments:
  Kind: Never
#  OverEmptyLines: 2
ContinuationIndentWidth: 4


BreakBeforeBraces: Attach
PointerAlignment: Left
