# output
*.h5

# Prerequisites
*.d

# testing
_deps
CMakeFiles

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# cmake things
build/
bin/
lib/
compile_commands.json

# journal things
*.db

# lsp
.ccls-cache/

# analysis
matplotlibrc
